{{ partial "head" . }}
{{ partial "nav" . }}
{{ partial "jumbotron" (dict "imageUrl" "/img/about/jumbotron.jpg" "title" "General") }}

<!-- <div class="mw7 center ph3 pt4"> -->
<!-- <div class="mw7 center ph3 pt4"> -->
<div class="mw7 center ph3 pt4">

  {{ partial "media-block" (dict "heading" "Our Neighborhood" "text" "Bay Creek, a neighborhood nestled between Monona Bay and Wingra Creek located on the near south side of Madison, Wisconsin. The name Bay Creek was chosen to reflect the fact that the borders of this neighborhood are almost entirely water. We got new water in our midst some years ago; the city pool opened in 2006." "imageUrl" "/img/about/shade-grown.jpg") }}

  {{ partial "text-and-image" (dict "heading" "History" "text" "What once was a marshland has transformed into a vibrant community. Learn more about how Bay Creek was born." "buttonText" "Read more" "buttonLink" "/post/history") }}



</div>

{{ partial "footer" . }}
